<!DOCTYPE html>
<html>
	<head>
		<title>Sam Hewitt</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/projects">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Sam!</h1>
				<p>I'm a neuroscientist, researcher, consultant and data scientist. <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        	<li><a href="mailto:samrchewitt@gmail.com">email</a></li>
          <li><a href="https://twitter.com/samrchewitt">twitter</a></li>
          <li><a href="https://scholar.google.com/citations?user=sYDX_5gAAAAJ&hl=en">publications</a></li>
        	<li><a href="https://github.com/samrchewitt">code</a></li>
			</ul>
		</footer>
	</body>
</html>
